.form-control{
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
    font-size: xx-large;
    text-align: center;
    font-weight: 550;
    border: 1px solid black;
}
#find{
    width: 100%;
    height: 120%;
    font-size: large;
}
#rand{
    width: 100%;
    height: 120%;
    font-size: large;
}
#form{
    border: 5px double  rgb(19, 180, 185);
    border-radius: 50px;
    padding: 20px;
}
#display{
    background-color: rgba(209, 207, 200, 0.856);
    margin-left: 3%;
    border: 2px solid rgb(19, 180, 185);
    border-radius: 15px;
}
#line{
    border-right: 5px double rgb(19, 180, 185);
}

#atk{
    color: crimson;
}
#def{
    color: darkgreen;
}
#stam{
    color: orangered;
}
button{
    border-radius: 15px;
    border: 1px solid black;
}

